@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bienvenido !!!";
}

<!--START: ACCOUNT-REGISTER-CONFIRM-->
<section id="account-register-confirm" class="row justify-content-center">
    <div class="col-6 login-container">
        <div class="login-body">
            <div class="row mb-3">
                <div class="col">
                    <h4>@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>Agradecemos tu preferencia, nos ponemos a tu dispocición en redes sociales o al correo <a href="mailto:missael306@gmail.com">missael306@gmail.com</a></p>
                    <a href="/">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END: ACCOUNT-REGISTER-CONFIRM-->
