@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrarme";
}


<!--START: ACCOUNT-REGISTER-CONFIRM-->
<section id="account-register-confirm" class="row justify-content-center">
    <div class="col-6 login-container">
        <div class="login-body">
            <div class="row mb-3">
                <div class="col">
                    <h4>@ViewData["Title"] con @Model.ProviderDisplayName</h4>
                    <p>Por favor ingresa un correo electrónico de <strong>@Model.ProviderDisplayName</strong> y has click en el botón de registro</p>
                </div>
            </div>
            <div class="row">
                <div class="col">                    
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END: ACCOUNT-REGISTER-CONFIRM-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
