@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvide mi contraseña confirmación";
}

<!--START: ACCOUNT-FORGOT-PASSWORD-CONFIRM-->
<section id="account-forgot-password-confirm" class="row justify-content-center">
    <div class="col-6 login-container">
        <div class="login-body">
            <div class="row mb-3">
                <div class="col">
                    <h4>Revisa tu correo electrónico.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    Si el problema persiste contacte al administrador a través de redes o sociales o al correo.
                    <a href="mailto:missael306@gmail.com">missael306@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END: ACCOUNT-FORGOT-PASSWORD-CONFIRM-->
