@page
@model RegisterModel
@{
    ViewData["Title"] = "Nueva Cuenta";
}

<!--START: ACCOUNT-->
<section id="account-register" class="row justify-content-center">
    <div class="col-6 login-container">
        <div class="login-body">
            <!--START: OWN REGISTER-->
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Crear cuenta nueva.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
                </div>
            </form>
            <!--END: OWN REGISTER-->
            <!--START: EXTERNAL-->
            <div class="row">
                <div class="col-12">
                    @if ((Model.ExternalLogins?.Count ?? 0) > 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block btn-login-external btn-facebook" name="provider" value="Facebook" title="Iniciar sesión usando Facebook"><i class="fab fa-facebook"></i></button>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-login-external btn-google btn-block" name="provider" value="Google" title="Iniciar sesión usando Google"><i class="fab fa-google"></i></button>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <!--END: EXTERNAL-->
        </div>
    </div>
</section>
<!--END: ACCOUNT-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
