@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registro completado";
}

<!--START: ACCOUNT-REGISTER-CONFIRM-->
<section id="account-register-confirm" class="row justify-content-center">
    <div class="col-6 login-container">
        <div class="login-body">
            <div class="row mb-3">
                <div class="col">
                    <h4>@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    @if (@Model.DisplayConfirmAccountLink)
                    {
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aqui para confirmar tu cuenta</a>
                    }
                    else
                    {
                        <p>Revisa tu correo electrónico.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--END: ACCOUNT-REGISTER-CONFIRM-->
