<!-- START: TABLE EXPENSES DETAILS -->
<div class="row">
    <div class="col">
        <table class="table table-hover w-100" id="tblExpensesDetails">
            <thead>
                <tr>
                    <th class="border-non" >Categoría</th>
                    <th class="border-non" >Monto</th>
                </tr>
            </thead>       
            <tbody></tbody>                 
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="text-right">$    --</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- END: TABLE EXPENSES DETAILS -->