@model Category
<!--START: _frmAddCategory-->
<form id="frmAddCategory" asp-controller="home" asp-action="AddCategory">
    <div class="form-group">
        <label for="sltTypeTransaction" asp-for="TypeTransactionID"></label>
        <select class="form-control sltTypeTransaction" id="sltTypeTransaction" asp-for="TypeTransactionID">
            <option value="">-- Seleccione --</option>
            <option value="1">Gasto</option>
            <option value="2">Ingreso</option>
        </select>
    </div>
    <div class="form-group">
        <label for="txtName" asp-for="Name"></label>
        <input type="text" class="form-control" id="txtName" disabled="disabled" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="sltCategory" asp-for="IconID"></label>
        <input type="hidden" id="hdIcon" asp-for="IconID">
        <label id="hdIcon-error" class="error-form d-none">Por favor, selecciona un icono.</label>
        <section class="icons-transaction p-1 disabled">
            <div class="row">
                @{
                    List<Icon> lstIcons = (List<Icon>)ViewBag.lstIcons;
                    for (int i = 0; i < lstIcons.Count; i++)
                    {
                        Icon icon = lstIcons[i];
                        string cssClassIcon = icon.IconName + " d-block";
                        <div class="icon col-4 p-1 text-center" data-idcategory="@icon.IconID">
                            <i class="@cssClassIcon"></i>
                        </div>
                    }
                }
            </div>
        </section>
    </div>
</form>
<!--END: _frmAddCategory-->